:root{
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);
--Green: hsl(75, 94%, 57%)
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--Off-Black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Inter, sans-serif;
}

main{
    background-color: var(--Dark-Grey);
    width: 350px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: none;
}

img{
    border-radius: 100px;
    width: 80px;
    height: 80px;
    margin: 25px;  
}

h1{
    color: var(--White);
    font-size: 23px;  
}

#location{
    color: var(--Green);
    margin-bottom: 20px;
}

p{
    color: var(--White);
    font-size: 14px;
    margin: 5px;
}

#description{
    margin-bottom: 20px;
    color: rgb(219, 219, 219);
}

p.nav{
    background-color: rgba(128, 128, 128, 0.25);
    width: 250px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
}

p.nav:hover{
    color: var(--Off-Black);
    background-color: var(--Green);
    font-weight: bold;
    cursor: pointer;
}

.attribution { 
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
    color: white; 
}

.attribution a { 
    color: hsl(228, 94%, 80%); 
}

@media (max-width: 375px){
    main{
        width: 330px;
    }

    p.nav{
        width: 230px;
    }
}